In [1]:
import pandas as pd
import numpy as np

In [2]:
bank_data = pd.read_csv('loan_approval.csv')
bank = pd.DataFrame(bank_data)
print(bank)

      Loan_ID  Gender Married Dependents  ... Loan_Amount_Term Credit_History  Property_Area  Loan_Status
0    LP001002    Male      No          0  ...            360.0            1.0          Urban            Y
1    LP001003    Male     Yes          1  ...            360.0            1.0          Rural            N
2    LP001005    Male     Yes          0  ...            360.0            1.0          Urban            Y
3    LP001006    Male     Yes          0  ...            360.0            1.0          Urban            Y
4    LP001008    Male      No          0  ...            360.0            1.0          Urban            Y
..        ...     ...     ...        ...  ...              ...            ...            ...          ...
609  LP002978  Female      No          0  ...            360.0            1.0          Rural            Y
610  LP002979    Male     Yes         3+  ...            180.0            1.0          Rural            Y
611  LP002983    Male     Yes          1  ...            360.0            1.0          Urban            Y
612  LP002984    Male     Yes          2  ...            360.0            1.0          Urban            Y
613  LP002990  Female      No          0  ...            360.0            0.0      Semiurban            N

[614 rows x 13 columns]

In [3]:
categorical_var = bank.select_dtypes(include='object')
numerical_var = bank.select_dtypes(include='number')

In [4]:
banks = bank.drop(columns='Loan_ID')
print(banks)

     Gender Married Dependents     Education  ... Loan_Amount_Term  Credit_History  Property_Area  Loan_Status
0      Male      No          0      Graduate  ...            360.0             1.0          Urban            Y
1      Male     Yes          1      Graduate  ...            360.0             1.0          Rural            N
2      Male     Yes          0      Graduate  ...            360.0             1.0          Urban            Y
3      Male     Yes          0  Not Graduate  ...            360.0             1.0          Urban            Y
4      Male      No          0      Graduate  ...            360.0             1.0          Urban            Y
..      ...     ...        ...           ...  ...              ...             ...            ...          ...
609  Female      No          0      Graduate  ...            360.0             1.0          Rural            Y
610    Male     Yes         3+      Graduate  ...            180.0             1.0          Rural            Y
611    Male     Yes          1      Graduate  ...            360.0             1.0          Urban            Y
612    Male     Yes          2      Graduate  ...            360.0             1.0          Urban            Y
613  Female      No          0      Graduate  ...            360.0             0.0      Semiurban            N

[614 rows x 12 columns]

In [5]:
bank_mode = banks.mode().iloc[0]
print(bank_mode)
banks.fillna(bank_mode, inplace=True)

Gender                    Male
Married                    Yes
Dependents                   0
Education             Graduate
Self_Employed               No
ApplicantIncome           2500
CoapplicantIncome            0
LoanAmount                 120
Loan_Amount_Term           360
Credit_History               1
Property_Area        Semiurban
Loan_Status                  Y
Name: 0, dtype: object

In [6]:
print(banks.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
avg_loan_amount = banks.pivot_table(index=['Gender', 'Married', 'Self_Employed'], values='LoanAmount', aggfunc=np.mean)
print(avg_loan_amount)

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.768116
               Yes            125.272727
       Yes     No             133.714286
               Yes            282.250000
Male   No      No             129.508621
               Yes            180.588235
       Yes     No             152.608150
               Yes            167.420000

In [8]:
loan_approved_se = banks[(banks['Self_Employed'] == 'Yes') & (banks['Loan_Status'] == 'Y')]
loan_approved_nse = banks[(banks['Self_Employed'] == 'No') & (banks['Loan_Status'] == 'Y')]
percentage_se = len(loan_approved_se.index)/614*100
percentage_nse = len(loan_approved_nse.index)/614*100
print(percentage_se)
print(percentage_nse)

9.120521172638437
59.60912052117264

In [9]:
loan_term = banks[['Loan_Amount_Term']].apply(lambda x: x/12)
print(loan_term)

     Loan_Amount_Term
0                30.0
1                30.0
2                30.0
3                30.0
4                30.0
..                ...
609              30.0
610              15.0
611              30.0
612              30.0
613              30.0

[614 rows x 1 columns]

In [10]:
big_loan_term = len(loan_term[loan_term['Loan_Amount_Term'] >= 25].index)
print(big_loan_term)

554

In [11]:
loan_groupby = banks.groupby('Loan_Status')
loan_groupby = loan_groupby[['ApplicantIncome', 'Credit_History']]
print(loan_groupby.describe())

            ApplicantIncome                                                   ... Credit_History
                      count         mean          std    min     25%     50%  ...            std  min  25%  50%  75%  max
Loan_Status                                                                   ...
N                     192.0  5446.078125  6819.558528  150.0  2885.0  3833.5  ...       0.495948  0.0  0.0  1.0  1.0  1.0
Y                     422.0  5384.068720  5765.441615  210.0  2877.5  3812.5  ...       0.127872  0.0  1.0  1.0  1.0  1.0

[2 rows x 16 columns]

In [12]:
mean_values = loan_groupby.mean()
print(mean_values)

             ApplicantIncome  Credit_History
Loan_Status
N                5446.078125        0.572917
Y                5384.068720        0.983412